.ranking{
  height: 770px;
  &__comment{
    @include ranking;
  }
  &__viewed{
    @include ranking;
  }
  &__random{
    @include ranking;
    padding-bottom: 5px;
  }

  & .rank{
    position: relative;
    height: 50px;
    border-bottom: solid 1px gray;
    margin: 10px 15px;
    &__title{
      min-width: 30px;
      & a{
        @include reset_a-tag(black);
      }
      &:hover{
        border-bottom: dotted 2px gray;
      }
    }
    &__user{
      position: absolute;
      font-size: 13px;
      right: 0;
      bottom: 12px;
      & a{
        @include reset_a-tag(gray);
      }
      &:hover{
        text-shadow: 1px 1px 1px gray;
      }
    }
    &__date{
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 11px;
      color: gray;
      
    }
  }
}