.search{
  height: 25px;
  width: 90%;
  margin: 10px auto;
  text-align: right;
  border: solid 2px gray;
  &__input{
    @include reset_form;
    height: 25px;
    width: 80%;
  }
  &__button{
    @include reset_form;
    margin-right: 10px;
  }
}