.detail-area__comments__comment
  .detail-area__comments__comment__name
    田中角栄
  .detail-area__comments__comment__date
    2019/11/13 19:30
  .detail-area__comments__comment__content
    政治家。大正7年新潟県生。高等小学校卒業後上京、苦学して田中土建工業を設立、自由民主党から衆議院に当選。昭和47年自民党総裁となり、首相に就任。「決断と実行」を掲げた政治スタイルで日中国交を回復するなどの業績をあげた。平成5年(1993)歿、75才。

.detail-area__comments__comment
  .detail-area__comments__comment__name
    田島哲郎
  .detail-area__comments__comment__date
    2019/11/13 19:50
  .detail-area__comments__comment__content
    長めですね。

.detail-area__comments__comment
  .detail-area__comments__comment__name
    コメント太郎
  .detail-area__comments__comment__date
    2019/11/13 19:00
  .detail-area__comments__comment__content
    コメントです

.detail-area__comments__comment
  .detail-area__comments__comment__name
    端島
  .detail-area__comments__comment__date
    2019/11/13 20:00
  .detail-area__comments__comment__content
    長いです