.flex-contener
  .index-area
    = render @weblogs
  .side-bar
    .search
      検索機能が入る予定です
    .ranking
      ランキング機能が入ります
      .ranking__comment
        コメント数によるランキングです
      .ranking__viewed
        閲覧数によるランキングです
      .ranking__like
        いいね数によるランキングです
      .ranking__random
        ランダムで表示されるランキングです
