$padding-height: 200px;
.devise-body{
  padding-top: $padding-height;
  height: calc(100vh - #{$padding-height});
  width: 100%;
  background-color: $main-color;
  .devise{
    display: flex;
    flex-flow: column wrap;
    @include noted;
    & h2{
      text-align: center;
      font-size: 25px;
      
      border-bottom: dotted 2px gray;
      padding-top:30px;
      margin-bottom: 70px;
    }
    & .new_user{
      font-size: 18px;
      text-align: center;
      border-bottom: dotted 2px gray;
      padding-bottom: 100px;
    }
    & .if_sessions{
      text-align: right;
      & a{
        @include reset_a-tag(gray);
    &__inputForm{
      & label{
        line-height: 40px;
      }
      @include devise_form();
    }
    &__button{
      & input{
        @include reset_form();
        border: 1px black solid;
        padding: 3px 10px;
      }
    }
  }
}
