.flex-contener{
  padding-top: 100px;
  width: 100%;
  .index-area{
    @include main-area;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
  }
}
