.detail-area{
  @include main-area;
  padding: 20px 0;
  background-color: $main-color;
  &__box{
    @include noted(300px,800px);
    position: relative;
    &__title{
      font-size: 25px;
      font-weight: bold;
      padding: 20px 0;
      height: 50px;
      width: 700px;
      line-height: 50px;
      margin: 0 auto;
      position: relative;
      &__neuter--left{
        position: absolute;
        left: 0;
        bottom: 30px;
      }
      &__neuter--right{
        position: absolute;
        right: 0;
        bottom: 30px;
      }
      &--title{
        text-align: center;
      }
    }
    &__content{
      border-top: dotted 2px gray;
      font-size: 18px;
      text-align: center;
      padding: 20px 30px 40px;
      overflow-wrap: break-word;
    }
    &__image{
      max-width: 300px;
      max-height: 300px;
      margin: 0px auto 40px;
      text-align: center;
      & img{
      width: 300px;
      height: 300px;
      &:hover{
        box-shadow: 0 0 3px gray;
      }
      }
    }
    &__editor{
      width: 100%;
      border-top: dotted 2px gray;
      position: absolute;
      left: 0;
      bottom: 0;
      & a{
        @include reset_a-tag(rgba(128, 128, 128, 0.699));
      }
    }
    &__date{
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      color: gray;
    }
  }
  &__comments{
    @include noted(100px, 800px);
    margin-top: 30px;
    &__top{
      text-align: center;
      font-size: 20px;
      border-bottom: dotted 2px gray;
    }
    &__comment{
      box-shadow: 2px 1px 2px gray;
      max-width: 600px;
      min-height: 20px;
      margin: 10px auto;
      border: solid 1px black;
      position: relative;
      &__name{
        font-size: 15px;
        border-bottom: solid 1px black;
        text-align: center;
        background-color: rgb(175, 248, 168);
      }
      &__date{
        position: absolute;
        right: 10px;
        top: 0;
      }
      &__content{
        margin: 10px;
        overflow-wrap: break-word;
      }
    }
  }

  &__create-comment{
    @include noted(100px,450px);
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    &__top{
      font-size: 18px;
      text-align: center;
      border-bottom: dotted 2px gray;
    }
    &__container{
        width: 400px;
        height: 150px;
        margin: 20px auto 10px;
        position: relative;
      &__input{
        @include reset-form;
        width: 100%;
        height: 100%;
      }
      &__send{
        position: absolute;
        bottom: 0;
        right: 0;
        @include reset-form;
        color: gray;
        font-size: 15px;
      }
    }
  }
}
