.detail-area{
  @include main-area;
  padding: 20px 0;
  background-color: $main-color;
  &__box{
    @include noted(300px,800px);
    position: relative;
    &__title{
      font-size: 25px;
      padding: 20px 0;
      height: 50px;
      width: 700px;
      line-height: 50px;
      margin: 0 auto;
      position: relative;
      &__neuter--left{
        position: absolute;
        left: 0;
        bottom: 30px;
      }
      &__neuter--right{
        position: absolute;
        right: 0;
        bottom: 30px;
      }
      &--title{
        text-align: center;
      }
    }
    &__content{
      border-top: dotted 2px gray;
      font-size: 18px;
      text-align: center;
      padding: 20px 30px 40px;
      overflow-wrap: break-word;
    }
    &__image{
      margin: 0px auto 30px;
      text-align: center;
      & img{
        max-width: 700px;
        max-height: 700px;
        &:hover{
          box-shadow: 0 0 3px gray;
        }
      }
    }
    &__images{
      margin: 0 auto 30px;
      max-width: 800px;
      max-height: 700px;
      & img{
        &:hover{
          box-shadow: 0 0 3px gray;
        }
      }
    }
    &__editor{
      width: 100%;
      border-top: dotted 2px gray;
      position: absolute;
      left: 0;
      bottom: 0;
      & a{
        @include reset_a-tag(rgba(128, 128, 128, 0.699));
      }
    }
    &__date{
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      color: gray;
    }
  }
}

