.weblogs{
  @include card;
  @include clearfloat;
  &__title{
    font-size: 20px;
    text-align: center;
  }
  &__content{
    font-size: 15px;
    text-align: center;
  }
  &__editor{
    float: right;
    font-size: 10px;
    & a{
      @include reset_a-tag(gray);
    }
  }
  &__date{
    clear: both;
    float: right;
    font-size: 11px;
    color: gray;
  }
  &__edit{
    @include reset_a-tag(gray);
    margin: 10px 20px;
  }
  &__destroy{
    @include reset_a-tag(gray);
  }
  & img{
    width: 400px;
    &:hover{
      box-shadow: 0 0 8px gray;
    }
  }
}