.flex-contener
  .create-area
    %input.create-area__title(type = "text" placeholder = "タイトルを書いてね" value = "ここに元のタイトルが入るよ")
    %textarea.create-area__content(placeholder = "本文を書いてね" value = "ここに元の文章が入るよ")
    %input.create-area__submit(type = "submit" value = "UPDATE")
  .side-bar
    サイドバーです