// 高さを設定しテキストの中央寄せを行う
@mixin text-center($height: auto,$align: unset){
  height: $height;
  line-height: $height;
  text-align: $align;
}

// 文字の色、サイズ、太さを決定する
@mixin font-data($color: black, $size: 15px, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

// AタグのデフォルトのCSSを打ち消す
@mixin reset_a-tag($color: $white){
  &:link{
    color: $color;
  }
  &:visited{
    color: $color;
  }
  text-decoration: none;
}

@mixin card {
  background-color: white;
  margin: 10px 0 5px;
  height: 120px;
  padding: 10px;
  width: 500px;
  box-shadow: 2px 2px 2px $card-color;
  &:hover{
    box-shadow: 0 0 5px $card-color;
  }
}

@mixin main-area {
  width: 75%;
  height: auto;
  min-height: calc(100vh - 150px);
  background-color: $main-color;
  float: left;
  padding: 10px 0;
}

@mixin noted($noted-height: 500px, $noted-width: 500px){
  border: double 5px black;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
  background-color: white;
  max-width: $noted-width;
  min-height: $noted-height;
}

@mixin ranking {
  height: 205px;
  width: 100%;
  border-bottom: dashed 2px gray;
  & .fa{
    color: yellow;
    text-shadow: 0 0 1px black;
  }
  &__word{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
}

// フォームやbuttonにはじめから適応されているCSSを打ち消す
@mixin reset_form {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

}